@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:black;
}
#tasklist::-webkit-scrollbar{
display: none;

}
#taskstatuslist::-webkit-scrollbar{
  display: none;
}
#newtasklist::-webkit-scrollbar{
  display: none;
  
  }